@charset "utf-8";

html,
body {
  margin: 0 auto;
  background-color: #e28300;
}

#root {
  width: 100vmin;
  height: 100vmax;
  margin: 0 auto;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* @media screen and (min-width: 750px) {
  #root {
    width: 750px;
    margin: 0 auto;
  }
} */

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */